body {
    background-color: white;
    font-family: verdana, arial;
}

table {
    border: 4px solid black;
    margin: 5px 0;
    border-collapse: collapse;
    table-layout: fixed;
    font-size: 10pt;
}

tr {
    overflow: hidden;
    line-height: 1.25em;
}
tr:nth-child(even) td {
    filter: brightness(90%);
}
tr:hover:has(td) {
    outline: 0.15rem solid blue;
    outline-offset: -0.1rem
}

th.head {
    background-color: darkgrey;
    font-size: 12pt;
    font-weight: bold;
    cursor: arrow;
}
th {
    background-color: darkgrey;
    border: 2px solid white;
    padding: 2px 2px;
    cursor: default;
    font-size: 10pt;
    font-weight: bold;
}

td {
    background-color: lightgrey;
    border: 2px solid white;
    padding: 0;
    overflow: hidden;
    text-align: right;
    height: 1.25em;
    width: 1em;
}
td.empty {
    height: 1.25em;
    width: 1em;
}
table.test_results td[test] a {
    display: block;
    height: 1.25em;
    width: 1em;
}
td.test_name {
    font-family: monospace;
    text-align: left;
    white-space: nowrap;
}
td.txt {text-align: left;}

.p {background-color: green; color: white;}
.f {background-color: red; color: white;}
.w {background-color: gold; color: black;}
