
table.summary {
  background-color: #D3D3D3;
  color: black;
  border: 4px solid black;
  margin: 5px 0;
}
tr.header { 
}
tr.even {
  background-color: #A9A9A9;
}
tr.odd {
  background-color: #B9B9B9;
}
td.txt {
  text-align: left;
}
td { 
  text-align: right;
}

table.results { 
  background-color: #D3D3D3;
  color: black;
  border: 4px solid black;
  margin: 5px 0;
}

td.P { 
  background-color: green;
}

td.P a:link { 
  color: green;
}

td.P a:visited { 
  color: green;
}

td.E {
  background-color: firebrick;
}

td.E a:link { 
  color: firebrick;
}

td.E a:visited { 
  color: firebrick;
}

td.W { 
  background-color: gold;
}

td.W a:link { 
  color: gold;
}

td.W a:visited { 
  color: gold;
}

td.M { 
  background-color: black;
}

td.M a:link { 
  color: black;
}

td.M a:visited { 
  color: black;
}

tr.ih { 
  background-color: steelblue;
}

td.ih { 
  background-color: steelblue;
}

table.results td.name { 
  background-color: #D3D3D3;
  text-align: center;
}

.even:hover {
  background-color: hotpink;
}

.odd:hover {
  background-color: hotpink;
}
